#navigation-wrapper {
  width: 465px;
  margin: 0 auto;
  text-align: center;
}

#top-navigation {
  display: inline-block;
}

#top-navigation li {
  display: inline;
  list-style-type: none;
  margin: 2;
}
