<div class="caption valign-wrapper1" style="padding-top:20px; ">
  <div class="container">

    <div class="row z-depth-3">
      <div class=" col s12">

        <h3>Contacts do Bixão</h3>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input placeholder="Search bixão" id="first_name" type="text" class="validate">
          </div>
        </div>

        <ul class="collection">
          <app-painel *ngFor="let foto of fotos " titulo="{{foto.titulo}}">
            <app-foto url="{{foto.url}}" titulo="{{foto.nome}}"></app-foto>
          </app-painel>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn horizontal">
  <a [routerLink]="['/cadastro']" class="btn-floating btn-large red pulse">
      <i class="large material-icons">add</i>
    </a>
</div>
<!-- <app-footer></app-footer> -->